$primary:#0079cc;
$success:#67c23a;
$info:#909399;
$warning:#e6a23c;
$danger:#f56c6c;

$primary-hover:#66b1ff;
$success-hover:#5daf34;
$info-hover:#82848a;
$warning-hover:#ffad33;
$danger-hover:#dd6161;

$primary-active:#3a8ee6;
$success-active:#85ce61;
$info-active:#a6a9ad;
$warning-active:#cf9236;
$danger-active:#f78989;
html, body {
  height: 100%;
}

body,
button,
dd,
dl,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}
